{% extends 'base.html' %}
{% block title %}Bem-vindo{% endblock %}
{% block content %}
<div class="text-center">
    <h1 class="mb-4">Bem-vindo ao Nosso Chat!</h1>
    <p class="lead mb-5">Faça login para continuar ou registre-se se você for novo por aqui.</p>
    
    <div class="d-grid gap-3 col-6 mx-auto">
        <a href="{{ url_for('login') }}" class="btn btn-primary btn-lg">Login</a>
        <a href="{{ url_for('register') }}" class="btn btn-success btn-lg">Registrar</a>
    </div>
</div>
{% endblock %}